:root {

    --beau-blue: #c9daeaff;
    --red-salsa: #fb3640ff;
    --granite-gray: #605f5eff;
    --cg-blue: #247ba0ff;
    --platinum: #e2e2e2ff;

}

@font-face {
    font-family: Lora;
    src: url(/fonts/Lora-Medium.ttf);
}

body {

    background-color: var(--cg-blue);
    color: var(--granite-gray);

}

.container {

    text-align: center;
    width: 90%;
    height: 80%;
    padding: 25px;
    margin: 5% auto;
    border-radius: 4px;
    background-color: var(--platinum);
    box-shadow: 6px 6px 6px var(--granite-gray);

}

.register_container {

    text-align: center;
    max-width: 400px;
    min-width: 250px;
    height: 80%;
    padding: 25px;
    margin: 5% auto;
    border-radius: 4px;
    background-color: var(--platinum);
    box-shadow: 6px 6px 6px var(--granite-gray);

}

.text_input {

    border: none;
    background-color: white; 
    color: var(--cg-blue);
    text-align: center;
    padding: 15px;
    height: 0px;
    font-size: 16px;
    font-family: 'Lora';
    max-width: 300px;
    box-shadow: 1px 1px 6px var(--granite-gray);
    

}

.text_input::placeholder {

    color: var(--granite-gray);

}
.text_input:-webkit-autofill,
.text_input:-webkit-autofill:hover,
.text_input:-webkit-autofill:focus,
.text_input:-webkit-autofill:active {

    -webkit-text-fill-color: var(--cg-blue);

}

.poem_input {

    background-color: white;
    padding: 15px;
    width: 100%;
    height: 500px;
    font-size: 16px;
    font-family: 'Lora';

}

.button {

    width: 100px;
    height: 30px;
    font-family: 'Lora';
    font-size: 16px;
    color: var(--platinum);
    background-color: var(--red-salsa);
    transition: 0.4s;
    border: none;
    box-shadow: 1px 1px 6px var(--granite-gray);

}

.select {

    width: 175px;
    height: 25px;
    font-family: 'Lora';
    font-size: 14px;
    color: var(--granite-gray);

}

.button:hover {

    background-color: var(--granite-gray);

}

#line {

    width: 500px;

}